[Desktop Entry]
Version=1.0.0
Name=Easy Pong
Comment=An Over Engineered Pong Game
Exec=/usr/bin/easy-pong
Icon=/usr/share/icons/easy-pong/easy-pong.png
Terminal=false
Type=Application
Categories=Games;
StartupWMClass=easy-pong