[Desktop Entry]
Version=1.0.0
Name=Easy Pong
Comment=Classic Pong fun reimagined with local multiplayer and modern themes.
Exec=/usr/bin/easy-pong
Icon=/usr/share/icons/easy-pong/easy-pong.png
Terminal=false
Type=Application
Categories=Game;
StartupWMClass=easy-pong